.noise-overlay {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  /*width: 100vw !important;*/
  /*height: 100vh !important;*/
  width: 100% !important;
  height: 100% !important;
  pointer-events: none;
}
@media (max-width: 768px){
  .noise-overlay{
    max-width : 100%;
  }
  .noise-overlay * {
    max-width : 100%;
  }
}