@import "tailwindcss";
@font-face {
  font-family: 'Comico-Regular';
  src :url("../components/Comico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
#bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
  z-index: -1;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.Card {
  width : 250px;
  height : 250px;
  /*background-color: azure;*/
  background: rgba(0, 127, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  /*opacity: 50%;*/
}




#PostContainer {
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 30px;
  min-height: 100vh

}
.PostCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-between;
  width : 500px;
  height : 250px;
  /*background-color: azure;*/
  background: rgba(0, 127, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.PostCard h4 {
  font-family: 'Comico-Regular';
  margin-top: 110px;
  font-size: 20px;
  color: white;
  display: flex;
  text-indent: .5em;
}
.PostCard img {
  width : 150px;
  height : 150px;
}
.PostCard p {
  font-family: 'Comico-Regular';
  font-size: 25px;
  color: white;
}
.PostCard h1 {
  font-family: 'Comico-Regular';
  font-size: 40px;
  font-weight: normal;
  color: azure;
  text-indent: .5em;
}









.CardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}
#Profile {
  width: 700px;
}
.PostBox {
}
.CreatePost {
  width: 500px;
  height: 500px;
}
.preview {
  width : 250px;
  height : 250px;
  /*background-color: azure;*/
  background: rgba(0, 127, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.preview img {
  width : 250px;
  height : 250px;
}
.preview p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
}